// Place all the styles related to the api/cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

.cities-title {
  font-size: 40px;
  color: #808080;
  font-weight: bold;
  margin-top: 50px;
  text-shadow: 2px 2px 3px #ccc;
}

.cities-tagline {
  font-size: 20px;
  color: #808080;
  margin: 30px 0px 20px 0px;
}


.cities-images-container {
  display: flex;
  margin-top: 20px;
}

.city-list {
  display: flex;
  width: 1100px;
  align-items: center;
  flex-wrap: wrap;
}

.city-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.city-item-image {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  z-index: -1;
  opacity: 0.8;
  position: absolute;
  vertical-align: middle
}

.city-item-container {
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 160px;
  border-radius: 2px;
  overflow: hidden;
}

.city-name {
  border: 2px solid transparent;
  text-shadow: 2px 2px 5px #ccc;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 25px;
  color: #fff;
  position: absolute;
  vertical-align: middle
}


.city-item-container:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #000;
  //transition
}

.city-item-container:hover span {
  border-bottom: 2px solid #fff;
}
