.city-detail-welcome-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city-detail-image {
  z-index: -1;
  height: 100%;
  width: 100%;
}

.city-detail-text-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  vertical-align: middle;
  height: 35%;
  width: 60%;
  padding: 0 40px 0 40px;
  background-color:rgba(255, 255, 255, 0.3);
}

.city-detail-title, .city-detail-tagline {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 5px #ccc;
}

.city-detail-title {
  position: absolute;
  vertical-align: middle;
  font-size: 50px;
  letter-spacing: 4px;
}

.city-detail-tagline {
  position: absolute;
  font-size: 25px;
  letter-spacing: 1px;
  bottom: 20px;
}

.city-detail-events-container, .city-detail-hosts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city-detail-events-text-container, .city-detail-hosts-text-container {
  align-items: left;
  width: 85%;
}

.city-detail-host-text-container {
  display: flex;
  align-items: center;
  width: 60%;

}

.city-detail-events-title, .city-detail-hosts-title  {
  font-size: 30px;
  color: #F7B733;
  font-weight: bold;
  margin-top: 40px;
  letter-spacing: 1px;
}

.city-detail-events-description, .city-detail-hosts-description {
  font-size: 15px;
  color: #808080;
  margin: 20px 0 20px 0;

}

.city-detail-host-note {
  font-size: 15px;
  font-weight: bold;
  color: #F7B733;
}


.city-detail-events-list, .city-detail-hosts-list {
  display: flex;
  width: 100%;
  /*justify-content: center;*/
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}

.city-detail-events-list {
  margin-top: 40px;
}

.create-event-button, .create-host-button {
  background: none;
  color: #4ABDAC;
  border: 2px solid #4ABDAC;
  font-family: "Roboto";
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 5px 10px;
  padding: 10px 10px;
}

.create-event-button:hover, .create-host-button:hover {
  color: #fff;
  background: #4ABDAC;
}
