.dashboard-container {
  width: 90%;
  margin: 0 auto;
}

.dashboard-events-container {
  margin: 20px;
  margin-bottom: 40px;
}

 .dashboard-welcome {
  font-size: 20px;
  color: #909090;
  margin: 20px 0;
 }


.dashboard-title {
  font-size: 25px;
  color: #F7B733;
  font-weight: bold;
  letter-spacing: 1px;
}


.events-list {
  display: flex;
  width: 100%;
  /*justify-content: center;*/
  flex-wrap: wrap;
}

.add-more-events-button {
  border: 5px dashed #909090;
  font-size: 20px;
  background: none;
  height: 100px;
  color: #909090;
  padding: 20px;
}

.add-more-events-button:hover {
  color: #000;
  border: 5px dashed #000;
  cursor: pointer;
}
