/* For the hosting page*/

.hosting-image {
  width: 100%;
}

/* For the host display on city page*/

.host-item-container {
  width: 22%;
  margin: 20px;
  margin-right: 0;
}

.host-item-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background: #fff;
  border: 1.5px solid #ccc;
  border-radius: 2px;
}

.host-item-container li:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #909090;
}

.host-item-container li:hover span {
  border-bottom: 2px solid black;
}

.host-item-image {
  border-radius: 2px;
  width: 90%;
  height: 75%;
  margin: 10px;
  margin-bottom: 0;
}

.host-name {
  border: 2px solid transparent;
  /*text-shadow: 2px 2px 5px #ccc;*/
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
  color: #000;
  margin: 10px;
}

/* For the host details */
