.host-item-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.host-item-container li:hover {
  cursor: pointer;
}

.host-item-container li:hover span {
  border-bottom: 2px solid black;
}

.host-item-image {
  border-radius: 2px;
  width: 180px;
  height: 150px;
  margin: 10px;
}

.host-name {
  border: 2px solid transparent;
  /*text-shadow: 2px 2px 5px #ccc;*/
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
  color: #000;
}
