// Place all the styles related to the api/Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.login-alternative1, .login-alternative2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.login-greeting {
  color: #F7B733;
  font-size: 36px;
  font-weight: bold;
  margin: 20px;
}

:root {
  --variable: #f00;
}

.login-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 10px;
  width: 500px;
  font-size: 15px;
  margin: 10px;
  padding: 20px;
}

.login-button, .tour-button, .other-button {
  color: #fff;
  font-family: "Roboto";
  border-radius: 5px;
  letter-spacing: 2px;
  margin: 10px;
  text-transform: uppercase;
}

.login-button:hover {
  color: #FC4A1A;
  background: none;
  cursor: pointer;
  border: 2px solid #FC4A1A
}

.login-button {
  background: #FC4A1A;
  height: 50px;
  width: 250px;
  font-size: 15px;
  margin-top: 20px;
}

.tour-button:hover, .other-button:hover {
  background: none;
  color: #4ABDAC;
  cursor: pointer;
}

.tour-button, .other-button {
  background: #4ABDAC;
  font-size: 12px;
  border: none;
  padding: 5px 10px;
  border: 2px solid #4ABDAC;
}

.login-phrase {
  color: #808080;
  font-size: 12px;
}

.login-errors > li {
  color: #f00;
  font-size: 15px;
}
