// Place all the styles related to the api/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 40px;
}

.host-status-container {
  display: flex;
  flex-direction: column;
}

.host-profile-buttons-container {
  display: flex;
  flex-direction: row;
}

.delete-container {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.host-status-text {
  font-weight: bold;
  font-size: 25px;
  color: #F7B733;
  margin: 10px 0;
}

.host-tagline-text {
  font-weight: bold;
  font-size: 20px;
  color: #909090;
  margin: 10px;
}

.delete-text {
  font-size: 20px;
  color: #909090;
  letter-spacing: 1px;
  margin: 10px;
}

.delete-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-account-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-times {
  color: #909090;
  position: absolute;
  top: 20px;
  right: 20px;
}

.fa-times:hover {
  color: #000;
}

.delete-account-choices {
  display: flex;
  justify-content: center;
}

.delete-account-title, .delete-account-tagline {
  color: #909090;
  margin: 10px;
}

.delete-account-title {
  font-size: 20px;
  font-weight: bold;
}

.delete-account-tagline {
  font-size: 15px;
  margin: 20px;
}


.host-button, .delete-button, .delete-confirm-button, .cancel-button, .view-event-button{
  background: none;
  font-family: "Roboto";
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 5px 10px;
  padding: 10px 10px;
}

.host-button, .cancel-button, .view-event-button {
  color: #4ABDAC;
  border: 2px solid #4ABDAC;
}

.host-button:hover, .cancel-button:hover, .view-event-button:hover {
  color: #fff;
  background: #4ABDAC;

}

.delete-button, .delete-confirm-button {
  color: #FC4A1A;
  border: 2px solid #FC4A1A;
}

.delete-button {
  width: 177px;
}

.delete-button:hover, .delete-confirm-button:hover {
  color: #fff;
  background: #FC4A1A;
}

.cancel-button, .delete-confirm-button {
  width: 50%;
}

.update-host-form-title {
  margin: 30px 0;
  font-weight: bold;
  font-size: 25px;
  color: #F7B733;
}

.host-status-update-feedback {
  margin: 10px;
  font-size: 15px;
  font-weight: lighter;
  color: #32CD32;
}
