:root {
  --header-footer-color: #4ABDAC;
  --header-height: 70px;
}

header {
  display: flex;
  background: var(--header-footer-color);
  height: var(--header-height);
  box-shadow: 0 0 15px rgba(0, 0, 0, .50);
  /*position: fixed;*/
  z-index: 1;
  width: 100%
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1e9c6;
  height: 40px;
}

.footer-quote {
  color: #909090;
  font-size: 15px;
  /*font-weight: bold;*/
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.header-links-container {
  display: flex;
  align-items: center;
}

.header-nav-container, .header-greeting-container {
  display: flex;
  align-items: center;
}


.header-link, .login-link, .header-nav-link{
  margin: 10px 15px 0px 15px;
  padding-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #4ABDAC;
}

.login-link {
  margin-left: 0px;
}

.header-logo-img {
  width: 300px;
  height: 100px;


}

.header-logo-img:hover {
  cursor: pointer;
}

.header-link:hover, .header-nav-link:hover, .login-link:hover {
  border-bottom: 2px solid #fff;
}

.welcome-text {
  color: #F7B733;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  animation: fadetext 1.5s ease 0s 1 normal forwards;
}

@keyframes fadetext {
    0% { opacity: 0; transform: translateY(40px)}
    100%  { opacity: 1; transform: translateY(0px)}
}


.signup-button:hover, .logout-button:hover {
  color: #4ABDAC;
  background: #fff;
  cursor: pointer;
}

.logout-button, .signup-button {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  font-family: "Roboto";
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 5px 10px;
  padding: 5px 10px;
}


.fa-bars, .fa-users, .fa-building, .fa-cog{
  color: #fff;
}
